@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: transparent;
	border-radius: 0px;
	text-decoration: none;
	font-family: 'Google Sans Flex';
}

html {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

@media(min-width: 1900px) {
	html {
		font-size: 16px;
	}
}

@media(max-width: 1900px) {
	html {
		font-size: 12px;
	}
}

body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

button,
label,
video[controls],
a {
	cursor: pointer;
}

ul,
ol,
li {
	list-style-type: none;
}
